.fantasy_vis {
    height: 800px;
}
.fantasy_p5_container {
    border: 1px solid #2b2b2b;
}
.fantasy_config {
}

#droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 10px;
}

#draggable {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.vis-configuration-wrapper {
    height:800px;
    overflow-y: scroll;
    border: 1px #2b2b2b;
    border-style: hidden hidden hidden double;
}