<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>web-app</title>

    <style type="text/css">
        html, body {
            background-color: rgba(0, 0, 0, 0);
        }
    </style>

    <link rel="stylesheet" href="css/page.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script type="text/javascript" src="js/page-vis.js"></script>
    <script type="text/javascript" src="js/page-sketch.js"></script>
    <script type="text/javascript" src="js/neovis/neovis.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js" ></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.sound.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script id="template" type="x-tmpl-mustache">
        <div class="row">
            <div id= "fantasy_p5_container_{{id}}" class="container-fluid fantasy_p5_container">
                <div class="row">
                    <div class="col-lg">
                        <div id="container_vis_{{id}}" class="fantasy_vis"></div>
                    </div>
                    <div class="col-">
                        <div id="container_config_{{id}}" class="fantasy_config"></div>
                        <div id="props_vis_{{id}}" class="props_vis"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        async function drawNeoVis() {
            visElements[current_container_id] =
                await createNeoVis("MATCH p=(player:Player)-[r:PLAYED]->(team:Team) WHERE player.image is not null RETURN p limit 200");

            p5Elements[current_container_id] =  createTopRightMenuP5(20, 120, 100, 100);
        }

        //jQuery
        $(function () {});
    </script>

</head>

<body onload="drawNeoVis()">
<div>
    <!--<label for="cypher">Cyper query:</label>-->
    <textarea rows="3" cols=100 id="cypher">match p = ((n)-[:DEPENDS_ON*2..2]->(n)) return p</textarea>
    <input type="submit" value="Submit" id="reload">
    <input type="submit" value="Stabilize" id="stabilize">

    <div id="main" class="container-fluid">

    </div>
</div>
</body>
<script>
    $("#reload").click(function () {
        visElements[current_container_id] = createNeoVis($("#cypher").val());
    });

    $("#stabilize").click(function () {
        visElements[current_container_id].stabilize();
    });
</script>
</html>